.app {
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: left;
    padding: 20px;
    margin-right: 500px;
    font-size: 20px;
}